<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>WiG - SaoPaulo</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="../static/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color:white;
		  }

		#big_title {
			/*background-color:#e7fffe;*/
			color:#4e4949;
			text-align:center;
			padding:100px;
			width:100%;
			font-size: 200%;
		}

		#image_title {
			width: 100%;
			height: 600px;
			background-image: url('../static/img/saopaulo/saopaulo.jpg');
			background-size: 100% 100%;
			border: 1px black;
		}

		#section1 {
			height: 100%;
		    text-align: center;
		    background: #d7eced;
		}
		#section2 {
			height: 100%;
		    padding-top: 150px;
		    background: white;
		}
		#section3 {
			height: 100%;
		    padding-top: 150px;
		    text-align: center;
		    background: #d7eced;
		}
		#section4 {
			height: 100%;
		    padding-top: 50px;
		    text-align: center;
		    background: white;
		}
		#section5 {
			height: 100%;
		    padding-top: 150px;

		    background: #d7eced;
		}

		p{
			font-family: Bedrock;
			font-size:150%;
		}
		img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

	</style>
</head>

<body>

	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="/">
						Back to Map
					</a>
				</li>
				<li>
					<a class="page-scroll" href="#section1">Sao Paulo</a>
				</li>
				<li>
					<a class="page-scroll" href="#section2">A mega city</a>
				</li>
				<li>
					<a class="page-scroll" href="#section3">Major drought in 2014</a>
				</li>
				<li>
					<a class="page-scroll" href="#section4">Floods in 2015</a>
				</li>
				<li>
					<a class="page-scroll" href="#section5">2016 conclusions</a>
				</li>
			</ul>
		</div>



		<div id="page-content-wrapper">

			<!-- Section 1 : Titre -->
			<section class="container-fluid" id="section1">
				<div id="image_title"></div>
				<div id="big_title">
					<h1><font face="Bedrock" size="10"><b> "After the drought" in Sao Paulo </b></font></h1><br/><br/><br/>
				</div>
			</section>	

			<!-- Section 2 : A mega city-->
			<section class="container-fluid" id="section2">
				<h1><center>A mega city</center></h1><br/><br/><br/>
				<p>Sao Paulo is the most populous city in Brazil, and one of the most populous city of the Americas (behind New York and Mexico). It ranks as the 6th most populous city on Earth with 21 millions habitants (with suburb).</p>
				<br/><br/><br/>
<center>
				<svg height="150" width="250">
				  <circle cx="50" cy="50" r="10" stroke="black" stroke-width="3" fill="white"/>
				<text x="25" y="130" font-family="sans-serif" font-size="20px" fill="black">Singapour</text>
				</svg> 
				<svg height="150" width="250">
				  <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white"/>
				<text x="25" y="130" font-family="sans-serif" font-size="20px" fill="black">Paris</text>
				</svg> 
				 <svg height="150" width="250">
				  <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="#d7eced"/>
				<text x="5" y="130" font-family="sans-serif" font-size="20px" fill="black">Sao Paulo</text>
				</svg> 
				 <svg height="150" width="100">
				  <circle cx="50" cy="50" r="45" stroke="black" stroke-width="3" fill="white"/>
				<text x="5" y="130" font-family="sans-serif" font-size="20px" fill="black">New York</text>  
				</svg>
				</center>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</section>

			<!-- Section 3 : The major drought of 2015 -->
			<section class="container-fluid" id="section3">
				<h1><center>Major drought in 2014</center></h1><br/><br/>
				<p>In 2015, Sao Paulo faced its greatest water crisis in over 80 years. Millions of its residents have faced daily water shutoffs. Climate change was one of the main cause of the problem, decreasing rainfall in this area. Poor water infrastructure have made the situation worse.</p>
				<div id="myhighcharts" style = "width:100%; height:300px; top: 50px; padding-top: 20px;"></div>
				<br/><br/>
				<p>Main reservoir system of Cantareira supplying São Paulo being at only 6% of its capacity in early February 2015, the water utility of Sao Paulo has reduced water pressure in the system.</p>

<br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</section>

			<!-- Section 4 : No lesson learned -->
			<section class="container-fluid" id="section4">
				<h1><center>Floods in 2015</center></h1><br/><br/>
				<p>Heavy rains during 2015 brought flooding to the street of Sao Paulo. Water doesn't always where we want it to go : despite torrential rainfall, some area of the region was still suffering from drought</p>
				<br/><br/><br/>
				<img src='../static/img/saopaulo/floods.jpg' alt="" /><br/><br/><br/>
				<p> In late 2015, reservoir system was only filled at 50%.</p>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

			</section>

			<!-- Section 5 : Conclusion -->
			<section class="container-fluid" id="section5">
				<h1><center>2016 conclusions</center></h1><br/><br/>
				<center><p>2015-2016 water crisis was a chock for Sao Paulo habitant. Two lessons came outside of the drought :</p></center><br/><br/>
				<center>
				<p><b>Maintain water infrastructures :</b><br/> More than 30 percent of São Paulo’s drinking water is estimated to be lost to leaks in the distribution network<br/><br/>
  				<b>Protect existing vegetation :</b><br/> forest provide a cheap way to clean and keep water. Deforestation was one of the main cause of this drought/flood crisis.<br/><br/>
  				<b>Invest in wastewater recycling :</b><br/> such measures can help meet water demands without the need for costly long-distance water transfers.

  				</p></center>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			</section>
		</div>
	</div>	
	

	
	<script src="../static/bower_components/jquery/dist/jquery.js"></script>
	<script src="../static/js/jquery.easing.min.js"></script>
	<script src="../static/bower_components/highcharts/highcharts.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="../static/js/smoothscroll.js"></script>
	<script type="text/javascript" src="../static/js/saopaulo/saopaulo_rainfall.js" ></script>
</body>

</html>
