<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>WiG - SaoPaulo</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="../static/simple-sidebar.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color:white;
		  }

		#big_title {
			background-color:#e7fffe;
			color:#4e4949;
			text-align:center;
			padding:100px;
			width:100%;
			font-size: 200%;
		}

		#image_title {
			width: 100%;
			height: 600px;
			background-image: url('../static/img/saopaulo/saopaulo.jpg');
			background-size: 100% 100%;
			border: 1px black;
		}

		#section1 {
			height: 100%;
		    text-align: center;
		    background: white;
		}
		#section2 {
			height: 100%;
		    padding-top: 150px;
		    text-align: center;
		    background: #eee;
		}


	</style>
</head>

<body>

	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						Back to Map
					</a>
				</li>
				<li>
					<a class="page-scroll" href="#section1">Sao Paulo</a>
				</li>
				<li>
					<a class="page-scroll" href="#section2">A mega city</a>
				</li>
				<li>
					<a class="page-scroll" href="#section3">The major drought of 2015</a>
				</li>
				<li>
					<a class="page-scroll" href="#section4">No lesson learned</a>
				</li>
				<li>
					<a class="page-scroll" href="#section5">Conclusion</a>
				</li>
			</ul>
		</div>



		<div id="page-content-wrapper">

			<!-- Section 1 : Titre -->
			<section class="container-fluid" id="section1">
				<div id="image_title"></div>
				<div id="big_title">
					<h1><font face="Bedrock" size="10"><b> "After the drought" in Sao Paulo </b></font></h1><br/><br/><br/>
				</div>
			</section>

			<!-- Section 2 : A mega city-->
			<section class="container-fluid" id="section2">
				 <div class="row">
					  <h2>About Company Page</h2><br>
					  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
					  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					  <br><a class="btn btn-default btn-lg" href="formulaire_vente"> Vendre</a>
					<div class="col-sm-4">
					  <span class="glyphicon glyphicon-signal logo"></span>
					</div>
				  </div>
				</div>
				<h2><br/></h2>
				<div class="container-fluid bg-grey">
				  <div class="row">
					<div class="col-sm-4">
					  <span class="glyphicon glyphicon-globe logo slideanim"></span>
					</div>
					<div class="col-sm-8">
					  <h2>Our Values</h2><br>
					  <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
					  <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					  <a class="btn btn-default btn-lg" href="formulaire_achat"> Acheter </a>
					</div>
				  </div>
				</div>
			</section>

			<!-- Section 3 : The major drought of 2015 -->
			<section class="container-fluid" id="section3">
				<div class="row">
					<div class="col-sm-8">
					  <h2>About Company Page</h2><br>
					  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
					  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					  <br><a class="btn btn-default btn-lg" href="formulaire_vente"> Vendre</a>
					</div>
					<div class="col-sm-4">
					  <span class="glyphicon glyphicon-signal logo"></span>
					</div>
				  </div>
				</div>
				<h2><br/></h2>
				<div class="container-fluid bg-grey">
				  <div class="row">
					<div class="col-sm-4">
					  <span class="glyphicon glyphicon-globe logo slideanim"></span>
					</div>
					<div class="col-sm-8">
					  <h2>Our Values</h2><br>
					  <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
					  <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					  <a class="btn btn-default btn-lg" href="formulaire_achat"> Acheter </a>
					</div>
				  </div>
				</div>
			</section>

			<!-- Section 4 : No lesson learned -->
			<section class="container-fluid" id="section4">
				
			</section>

			<!-- Section 5 : The major drought of 2015 -->
			<section class="container-fluid" id="section5">
				
			</section>
		</div>
	</div>	
	

	
	<script src="../static/bower_components/jquery/dist/jquery.js"></script>
	<script src="../static/js/jquery.easing.min.js"></script>
	
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="../static/js/smoothscroll.js"></script>

</body>

</html>
